@model IEnumerable<CapstoneProject.Models.Restaurant2>

@{
    ViewData["Title"] = "View";
}

<h2>Restaurants with vegetarian/vegan options near @ViewBag.CityName</h2>

<p>
    (Powered by Zomato)
</p>
<div class="row" style="padding-bottom: 20px;">
    @await Component.InvokeAsync("MultiPinMap", new { restaurants = Model })
</div>

<div class="container">
    @{
        for (int i = 0; i < Model.Count(); i += 2)
        {
            <div class="row">
                @{
                    for (int j = 0; j <= 3; j++)
                    {
                        @if (i + j == Model.Count()) { break; }
                        <div class="col-sm-3">

                            @Html.Partial("RestaurantPartial", Model.ElementAt(i + j))
                        </div>
                    }
                }
            </div>
        }
    }
</div>

