@model IEnumerable<CapstoneProject.Models.Food>

@{
    ViewData["Title"] = "AllFoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2>All Saved Foods</h2>
    <p>
        <a asp-action="CheckIngredients" class="btn btn-primary">Check Another Food</a>
        <a asp-action="UserFoods" class="btn btn-primary">My Foods</a>
    </p>
    @{
        for (int i = 0; i < Model.Count(); i += 3)
        {
            <div class="row">
                @{
                    for (int j = 0; j <= 2; j++)
                    {
                        @if (i + j == Model.Count()) { break; }
                        <div class="col-sm-4">

                            @Html.Partial("FoodPartial", Model.ElementAt(i + j))
                        </div>
                    }
                }
            </div>
        }
    }
</div>

