@model CapstoneProject.Models.Food

@{
    ViewData["Title"] = "CheckIngredients";
}

<h2>Check Ingredients</h2>
<hr />
<div class="row">
    <div class="col-md-4">        
        <form asp-action="CheckIngredients" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <h4 style="padding-bottom:15px;">Please choose a clear picture of the ingredient list of the food </h4>
                <input name="picture" type="file" id="IngredientsPicture" asp-for="IngredientsPicture" />
                <span asp-validation-for="IngredientsPicture" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ProductPicture" class="control-label"></label>
            <input asp-for="ProductPicture" class="form-control" />
            <span asp-validation-for="ProductPicture" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>*@
            <div class="form-group" style="padding-top: 10px;">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
