@model CapstoneProject.Models.Food

@{
    ViewData["Title"] = "CheckIngredients";
}

<h2>Check Ingredients</h2>
<hr />
<div class="row">
    <div class="col-md-4">        
        <form asp-action="CheckIngredients" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Ingredients Picture</label>
                <p>Please choose a clear picture of the ingredient list of the product you would like to check.</p>
                <input name="picture" type="file" id="IngredientsPicture" asp-for="IngredientsPicture" />
                <span asp-validation-for="IngredientsPicture" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ProductPicture" class="control-label"></label>
                <input asp-for="ProductPicture" class="form-control" />
                <span asp-validation-for="ProductPicture" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>*@            
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
