@model CapstoneProject.Models.Food
@{
    var base642 = Convert.ToBase64String(Model.ProductPicture);
    var pPic = String.Format("data:image/gif;base64,{0}", base642);
}

<div class="card" style="width: 100%; padding-bottom: 15px;">
    <img class="card-img-top" src="@pPic" alt="Card image cap" style="width: inherit">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><label>@Model.Name</label></li>
            @if (Model.IsVegan)
            {
                <li class="list-group-item">
                    <label class="label-success"><b>Vegan</b></label>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <label class="label-danger"><b>Not Vegan</b></label>
                </li>
            }
            <li class="list-group-item">@Model.Notes</li>
        </ul>
    </div>
</div>
