@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row" style="padding-bottom: 20px; padding-top:20px;">
        <div align="center" style="padding-bottom:20px;">
            <h1>Making the Veggie Life Even Better</h1>
            <h3>Sign Up Today</h3>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login/Register</a>
        </div>

        <div align="center">
            <img src="~/images/veganhomeimage.png" style="width:50%;height:75%;" />
        </div>
    </div>
    <div class="row">
        <div align="center">
            <div class="col-sm-4">
                <h3>Check Ingredients</h3>
                @Html.ActionLink("Start Checking", "CheckIngredients", "Home", new { }, new { @class = "btn btn-primary btn-large" })
            </div>
            <div class="col-sm-4">
                <h3>Find Food Nearby</h3>
                @Html.ActionLink("Search my City", "Index", "Restaurant", new { }, new { @class = "btn btn-primary btn-large" })
            </div>
            <div class="col-sm-4">
                <h3>Vegan Recipes</h3>
                @Html.ActionLink("Browse Recipes", "Index", "Recipe", new { }, new { @class = "btn btn-primary btn-large" })
            </div>
        </div>
    </div>
        

    </div>



