@model CapstoneProject.Models.FoodViewModel
@{
    ViewData["Title"] = "IngredientsResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="container">
        @{
            var base64 = Convert.ToBase64String(Model.Food.IngredientsPicture);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

        <img src="@imgSrc" />
        <br>
        <h2>IngredientsResults</h2>
        
        @if (Model.IsVegan)
        {
            <strong>No non-vegan ingredients detected!</strong>
        }
        else
        {
            <strong>Non-vegan ingredients detected!</strong>
            <ul>
                @foreach (string s in Model.KeyWords)
                {
                    <li>@s</li>
                }
            </ul>
        }
        @Html.ActionLink("Save to My Foods", "SaveFood", "Home", new { foodModel = Model })
    </div>
</div>


