@model CapstoneProject.Models.Sponsor

@{
    ViewData["Title"] = "GetSponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetSponsor</h2>

<h4>Sponsor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetSponsor" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentUrl" class="control-label"></label>
                <input asp-for="ContentUrl" class="form-control" />
                <span asp-validation-for="ContentUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4 style="padding-bottom:15px;line-height:24px;">Choose a picture to display.</h4>
                <input name="picture" type="file" id="ContentImage" asp-for="ContentImage" />
                <span asp-validation-for="ContentImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
