
@{
    ViewData["Title"] = "RecommendedSocials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;padding-bottom:15px;padding-top:15px;">Recommended Socials</h2>
<div class="container">
    <div class="row">
        <div class="card border-danger mb-3 text-center" style="width: 100%;padding-bottom:20px;">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center">Sponsered</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-danger mb-3 text-center" style="width: 100%;padding-bottom:20px;">
                <img class="card-img-top" src="~/images/youtubesmall.png" width="10%" style="padding-top:4px;" alt="Logo">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center">Youtube</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Why go Vegan?</li>
                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=7rNY7xKyGCQ"
                               class="btn btn-primary">Dr. Greger @@Google</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/qOgYX6Jqhl8"
                               class="btn btn-primary">Name the Trait Argument</a>
                        </li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-danger mb-3 text-center col-md-4" style="width: 100%;padding-bottom:20px;">
                <img class="card-img-top" src="~/images/instagram2.png" width="8%" alt="Logo">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center">Instagram</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Recipes</li>
                        <li class="list-group-item">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/bestofvegan/?hl=en" class="btn btn-primary">Cool link</a>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/veganrecipescom/?hl=en" class="btn btn-primary">Cool link</a>
                        </li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row" d-flex align-items-stretch>
        <div class="col-sm-6">
            <div class="card border-dark mb-3 text-center" style="width: 100%;padding-bottom:20px;">
                <img class="card-img-top" src="~/images/twitter.png" width="12%" alt="Logo">
                <div class="card-body">
                    <h3 class="card-title" style="text-align:center">Twitter</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="twitter-timeline" data-lang="en" data-height="400" data-theme="light" data-link-color="#2B7BB9"
                               href="https://twitter.com/nutrition_facts?ref_src=twsrc%5Etfw">Tweets by nutrition_facts</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </li>
                        <li class="list-group-item">
                            <a class="twitter-timeline" data-lang="en" data-height="400" data-theme="light"
                               data-link-color="#2B7BB9" href="https://twitter.com/plantbasednews?ref_src=twsrc%5Etfw">Tweets by plantbasednews</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


