
@{
    ViewData["Title"] = "RecommendedSocials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recommended Socials</h2>
<div class="container">
    <div class="row">

        <div class="card border-danger mb-3 text-center col-sm-4" style="width: 100%;">
            <img class="card-img-top" src="~/images/youtube.png" width="40%" style="padding-top:4px;" alt="Logo">
            <div class="card-body">
                <br />
                <p class="card-text">crazy stuff</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="card border-danger mb-3 text-center col-md-4" style="width: 100%">
            <img class="card-img-top" src="~/images/instagram2.png" width="10%" alt="Logo">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center">Instagram</h5>
                <p class="card-text">crazy stuff</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="card border-danger mb-3 text-center col-md-4" style="width: 100%">
                <img class="card-img-top" src="~/images/instagram2.png" width="15%" alt="Logo">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Instagram</h5>
                    <p class="card-text">crazy stuff</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row" d-flex align-items-stretch>
            <div class="card-deck">
            </div>
        </div>
    </div>
</div>

