@model CapstoneProject.Models.SocialRecommendation

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.ImageLocation" width="50%" alt="Logo">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.LinksDescription</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>