@model IEnumerable<CapstoneProject.Models.Match>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<h2>Vegan Recipes</h2>
<p>(Powered by Yummly)</p>

@Html.ActionLink("Vegan Ingredient Substitutions", "VeganSubs", "Recipe", new { }, new { @class = "btn btn-primary btn-large" })
<br /><br />
@{
    for (int i = 0; i < Model.Count(); i += 3)
    {
        <div class="row">
            @{
                for (int j = 0; j <= 3; j++)
                {
                    @if (i + j == Model.Count()) { break; }
                    <div class="col-sm-3">
                        @Html.Partial("RecipePartial", Model.ElementAt(i + j))
                    </div>
                }
            }
        </div>
    }
}
