@model IEnumerable<CapstoneProject.Models.VeganSubstitute>

@{
    ViewData["Title"] = "VeganSubs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VeganSubs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NonVeganIngredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeganSubsDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NonVeganIngredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VeganSubsDescription)
            </td>
        </tr>
}
    </tbody>
</table>
