@model IEnumerable<CapstoneProject.Models.VeganSubstitute>

@{
    ViewData["Title"] = "VeganSubs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VeganSubs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Original Ingredient</h3> 
            </th>
            <th>
                <h3>Vegan Substitute</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.NonVeganIngredient)</h4>
            </td>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.VeganSubsDescription) </h4>
            </td>
        </tr>
}
    </tbody>
</table>
